{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <span class='post-date'> Latest update on 26 Nov 2022</span>
    <h1><a href="{{ url_for('static', filename='cv_eliude.pdf') }}"></a></h1>
    <embed src="{{ url_for('static', filename='cv_eliude.pdf') }}" width="100%" height="950px">
  </body>
</html>
{% endblock content %}
