{% extends "layout.html" %}
{% block content %}
    <div>
        <table style="width: 100%;">
        <tbody>
        <tr>
        <td style="width: 60%;">
            <p>Welcome to my website!</p>
            <p align="justify"> I hold a master degree in Economics at <a href="https://sites.google.com/view/pimes-english/main" target="_blank">PIMES - UFPE</a> and a bachelor degree in Economics at <a href="https://sobral.ufc.br/" target="_blank">UFC - Sobral</a>. Currently, I am Research Assistant at <a href="https://clean.unibocconi.eu/" target="_blank">CLEAN</a>, <a href="https://www.gappe.org/" target="_blank">GAPPE</a> and <a href="https://www.kuriertecnologia.com.br/" target="_blank">Kurier</a>. My main interests as an applied econometrics researcher are Economics of health, crime and education. I also build machine learning models to support companies and clients decisions.</p>
            <p>All my work is developed using Python language (with some use of R packages through rpy2).</p>
            <a href="{{ url_for('static', filename='cv_eliude.pdf') }}" target="_blank">Download my CV</a>
        </td>
        <td style="width: 40%;text-align: center"> 
            <img src="{{ url_for('static', filename='photo_v3.jpeg') }}" style="width:200px;height:250px;border-radius:50%"> 
            <h1>Maria Eliúde</h1>
            <p>Recife, Pernambuco - Brazil</p>
            <p>meliudde@gmail.com</p>
            <!--a href="https://gitlab.com/meliude/website" target="_blank">Link to website code using Flask</a-->
        </td>
        </tr>
        </tbody>
        </table>
        </div>
{% endblock content %}
