{% extends "layout.html" %}
{% block content %}
    <p> Below are my currently researches and projects. If you have any comments, I'll be glad to receive your email.</p>
    <h3> Working papers </h3>
    <div>
        <table style="width: 100%;">
        <tbody>
        <tr>
        <td style="width: 60%;">
            <h6> Household response to health shocks and its intergenerational consequences <a>[Draft coming soon]</a></h6>
            <h8> with <a href="https://sites.google.com/site/diogobrittoecon/" target="_blank">Diogo Britto</a> and <a href="https://sites.google.com/view/brenosampaio/personal-info" target="_blank">Breno Sampaio</a></h8>            
            <p align="justify">We investigate the effects of health shocks in families of low socioeconomic status (SES). To provide causal evidence, we combine rich administrative data and explore the timing of health shock occurrence to define treatment and control groups. There is a severe income loss from sick individuals, with an attempt to compensate for increasing criminal activities related to economic issues. Spouses have a smaller income decrease, which seems to be explained by the necessity of caring for their sick partners. Children suffer greatly from parent health conditions, increasing dropout rates, and age-grade distortion. An increase in enrollment in high school classes at night, besides the insurance mechanism due to massive income reduction, suggests the dropout rates should be even worse. In addition, we also show an increase in young fertility and crime. Finally, we provide novel evidence of the effectiveness of financial assistance policy to mitigate these effects. Using reduced form through judge randomization, we show that sick individuals increase sick leave requests and labor participation.
            </p>
            <!--a href="{{ url_for('static', filename='graph.png') }}" target="_blank">Figure</a>
            <p style="font-size:75%">The figure above shows dropout rates from school-age children at different timing in health shocks. For example, Δ=3 indicates the treatment group in t and the control group in t+3, and so on. Baseline (t=-2) in all estimations equals 1.</p-->

        </td>
        <!--td style="width: 40%;text-align: center"> 
            <img src="{{ url_for('static', filename='graph.png') }}" style="width:410px;height:320px">
            <p style="font-size:75%">The figure above shows dropout rates from school-age children at different timing in health shocks. For example, Δ=3 indicates the treatment group in t and the control group in t+3, and so on. Baseline (t=-2) in all estimations equals 1.</p>
        </td-->
        </tr>
        </tbody>
        </table>
        </div>
    <center>
    <p><img src="{{ url_for('static', filename='graph.png') }}" style="width:410px;height:320px;text-align:center"></p>
    <figcaption style="font-size:75%">The figure above shows dropout rates from school-age children at different timing in health shocks. For example, Δ=3 indicates the treatment group in t and the control group in t+3, and so on. Baseline (t=-2) in all estimations equals 1.</figcaption>
    </center>    
    <h3> Working in progress </h3>
    <h6> More public school transport for less dropout rate: evidence from Brazil </h6>
    <h8> with <a href="https://sites.google.com/site/diogobrittoecon/" target="_blank">Diogo Britto</a>, <a href="https://sites.google.com/view/bladimir-carrillo" target="_blank">Bladimir Carrillo</a> and <a href="https://sites.google.com/view/brenosampaio/personal-info" target="_blank">Breno Sampaio</a></h8>
{% endblock content %}
