{% extends "layout.html" %}
{% block content %}
<h1>Graduate level</h1>
<h3>Statistics</h3>
<h4>Professor PhD. <a href="http://www.gustavorsampaio.com/">Gustavo Ramos Sampaio</a></h5>
<p>joint with <a href="https://sites.google.com/view/bayma/teaching?authuser=0">Guilherme Bayma</a></p>
<p>Problem set</p>
<p><a href="{{ url_for('static', filename='LISTA_1_ESTATÍSTICA_-_2020.pdf') }}">Lista 1</a> <a href="{{ url_for('static', filename='lista1_solution.pdf') }}">(solution)</a></p>
<p><a href="{{ url_for('static', filename='LISTA_2_ESTATÍSTICA_-_2020.pdf') }}">Lista 2</a> <a href="{{ url_for('static', filename='lista2_solution.pdf') }}">(solution)</a></p>
<p>Exams</p>
<p><a href="{{ url_for('static', filename='exame1_2017.pdf') }}">Exam 1 (2017)</a> <a href="{{ url_for('static', filename='exame1_2017_solution.pdf') }}">(solution)</a></p>
<p><a href="{{ url_for('static', filename='exame2_2017.pdf') }}">Exam 2 (2017)</a> <a href="{{ url_for('static', filename='exame2_2017_solution.pdf') }}">(solution)</a></p>
<p><a href="{{ url_for('static', filename='exame1_2018.pdf') }}">Exam 1 (2018)</a> <a href="{{ url_for('static', filename='exame1_2018_solution.pdf') }}">(solution)</a></p>
<p><a href="{{ url_for('static', filename='exame2_2018.pdf') }}">Exam 2 (2018)</a> <a href="{{ url_for('static', filename='exame2_2018_solution.pdf') }}">(solution)</a></p>
{% endblock content %}
